{%- comment %} 
Accepts: 
- article: article object (required) 
- lazyload: 'lazy' or 'eager' for image loading 
- fetchpriority: 'high', 'low' or 'auto' for image priority
{% endcomment -%}

{%- if article and article != empty -%}
<div class="card article-card">
	<div class="card__wrapper article-card__wrapper">
		<div class="card__media article-card__media">
			<a href="{{ article.url }}" class="article-card__media-inner card__media-inner" title="{{ article.title | escape }}">
				<div class="article-card__media-wrapper">
					{%- if article.image -%}
					<picture>
						<source media="(max-width: 480px)" srcset="{{ article.image.src | img_url: 'large' }}">
						<source media="(max-width: 768px)" srcset="{{ article.image.src | img_url: 'grande' }}">
						<img class="article-card__media-image"
							 loading="{{ lazyload | default: 'lazy' }}"
							 fetchpriority="{{ fetchpriority | default: 'auto' }}"
							 src="{{ article.image.src | img_url: 'grande' }}"
							 alt="{{ article.image.alt | default: article.title | escape }}"
							 width="{% if article.image.width != blank %}{{ article.image.width }}{% else %}600{% endif %}"
							 height="{% if article.image.height != blank %}{{ article.image.height }}{% else %}450{% endif %}">
					</picture>
					{%- else -%}
					<div class="article-card__media-placeholder">
						{%- include 'icon' with name: 'image' -%}
					</div>
					{%- endif -%}
				</div>
			</a>
		</div>
		<div class="card__content article-card__content">
			<h3 class="article-card__title card__content__title">
				<a class="card__content__title-text"
				   href="{{ article.url }}"
				   title="{{ article.title | escape }}">{{ article.title }}
				</a>
			</h3>
			<!-- Article Data -->
			<div class="article-card__meta">
				<span class="article-card__date">
					{%- include 'icon' with name: 'calendar', class: 'icon-calendar' -%}
					{{ article.published_at | date: '%d/%m/%Y' }}
				</span>
				{%- include 'icon' with name: '3dots', class: 'icon-3dots' -%}
				<span class="article-card__author">
					{%- include 'icon' with name: 'author', class: 'icon-author' -%}
					<span class="article-card__author-name">{{ article.author }}</span>
				</span>
			</div>
			<!-- Short Description -->
			<div class="article-card__description">
				{{ article.excerpt | default: article.content | strip_html |  truncatewords: 50 }}
			</div>
			<div class="article-card__button">
				<a class="button-primary"
				   href="{{ article.url }}"
				   title="{{ article.title | escape }}">Đọc tiếp
				</a>
			</div>
		</div>
	</div>
</div>
{%- endif -%}