<div class="article-sidebar">
	{%- if settings.article_sidebar_related_enable == true and blog.articles_count > 1 -%}
	<div class="article-sidebar__section">
		<h3 class="article-sidebar__title">{{ settings.article_sidebar_related_title | default: 'Bài viết liên quan' }}</h3>
		<ul class="article-sidebar__related-posts">
			{%- assign related_count = 0 -%}
			{%- assign max_related = settings.article_sidebar_related_count | default: 4 | plus: 0 -%}
			{%- for related_article in blog.articles limit: 10 -%}
				{%- unless related_article.id == article.id -%}
					{%- if related_count < max_related -%}
					<li class="article-sidebar__related-post">
						<a href="{{ related_article.url }}" class="article-sidebar__related-post-link" title="{{ related_article.title | escape }}">
							{%- if related_article.image -%}
							<div class="article-sidebar__related-post-image">
								<img src="{{ related_article.image.src | img_url: 'compact' }}" alt="{{ related_article.image.alt | default: related_article.title | escape }}" loading="lazy" width="64" height="64">
							</div>
							{%- endif -%}
							<div class="article-sidebar__related-post-content">
								<h4 class="article-sidebar__related-post-title">{{ related_article.title }}</h4>
								<div class="article-sidebar__related-post-date">{{ related_article.published_at | date: "%d/%m/%Y" }}</div>
							</div>
						</a>
					</li>
					{%- assign related_count = related_count | plus: 1 -%}
					{%- endif -%}
				{%- endunless -%}
			{%- endfor -%}
		</ul>
	</div>
	{%- endif -%}

	{%- if settings.article_sidebar_tags_enable == true and article.tags.size > 0 -%}
	<div class="article-sidebar__section">
		<h3 class="article-sidebar__title">{{ settings.article_sidebar_tags_title | default: 'Tags' }}</h3>
		<div class="article-sidebar__tags">
			{%- for tag in article.tags -%}
			<a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" class="article-sidebar__tag">{{ tag }}</a>
			{%- endfor -%}
		</div>
	</div>
	{%- endif -%}
</div>