{%- comment %}
Accepts:
- blog: Blog object (Optional, defaults to current blog context if available)
{% endcomment -%}
<div class="blog-sidebar">
	{%- assign categories_menu = linklists[settings.blog_sidebar_categories_menu] -%}
	{%- if settings.blog_sidebar_categories_enable and categories_menu.links.size > 0 -%}
	<div class="blog-sidebar__section">
		<h3 class="blog-sidebar__title">{{ settings.blog_sidebar_categories_title | default: "Danh mục" }}</h3>
		<ul class="blog-sidebar__categories">
			{%- for link in categories_menu.links -%}
			<li>
				
				<a href="{{ link.url }}" class="blog-sidebar__link {% if link.active %}active{% endif %}" title="{{ link.title | escape }}">{{ link.title }}</a>
			</li>
			{%- endfor -%}
		</ul>
	</div>
	{%- endif -%}

	{%- assign recent_limit = settings.blog_sidebar_recent_limit | default: 5 -%}
	{%- if settings.blog_sidebar_recent_enable and blog.articles_count > 0 -%}
	<div class="blog-sidebar__section">
		<h3 class="blog-sidebar__title">{{ settings.blog_sidebar_recent_title | default: "Bài viết mới nhất" }}</h3>
		<ul class="blog-sidebar__recent-posts">
			{%- for article in blog.articles limit: recent_limit -%}
			<li class="blog-sidebar__recent-post">
				<a href="{{ article.url }}" class="blog-sidebar__recent-post-link" title="{{ article.title | escape }}">
					<div class="blog-sidebar__recent-post-image">
						{%- if article.image -%}
						<img src="{{ article.image.src | image_url: width: 160 }}" alt="{{ article.image.alt | default: article.title | escape }}" loading="lazy" width="64" height="64">
						{%- else -%}
						<div class="blog-sidebar__recent-post-placeholder"></div>
						{%- endif -%}
					</div>
					<div class="blog-sidebar__recent-post-content">
						<h4 class="blog-sidebar__recent-post-title">{{ article.title }}</h4>
						<div class="blog-sidebar__recent-post-date">{{ article.published_at | date: "%d/%m/%Y" }}</div>
					</div>
				</a>
			</li>
			{%- endfor -%}
		</ul>
	</div>
	{%- endif -%}

	{%- assign tags_limit = settings.blog_sidebar_tags_limit | default: 20 -%}
	{%- if settings.blog_sidebar_tags_enable and blog.all_tags.size > 0 -%}
	<div class="blog-sidebar__section">
		<h3 class="blog-sidebar__title">{{ settings.blog_sidebar_tags_title | default: "Tags" }}</h3>
		<div class="blog-sidebar__tags">
			{%- for tag in blog.all_tags limit: tags_limit -%}
			<a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" class="blog-sidebar__tag {% if current_tags contains tag %}active{% endif %}" title="{{ tag | escape }}">{{ tag }}</a>
			{%- endfor -%}
		</div>
	</div>
	{%- endif -%}
</div>