<cart-total class="cart-total">
  <h4 class="cart-total__title">{{ 'sections.cart.order_summary' | t }}</h4>
  <ul class="cart-total__list">
    <li>
      <span>{{ 'sections.cart.item_count' | t }}:</span>
      <strong><span class="cart-count">{{ cart.item_count }}</span> {{ 'sections.cart.caption' | t }}</strong>
    </li>
    <li>
      <span>{{ 'sections.cart.subtotal' | t }}:</span>
      <strong class="cart-price">{%- if cart.total_price == 0 -%}{{ 'products.product.price.contact' | t }}{%- else -%}{{ cart.total_price | money }}{%- endif -%}</strong>
    </li>
    {%- if cart.total_discount > 0 -%}
    <li class="cart-total__discount">
      <span>{{ 'sections.cart.discount' | t }}:</span>
      <strong>-{{ cart.total_discount | money }}</strong>
    </li>
    {%- endif -%}
    <li>
      <span>{{ 'sections.cart.shipping' | t }}:</span>
      <strong>{{ 'sections.cart.shipping_calculated' | t }}</strong>
    </li>
  </ul>
  <div class="cart-total__actions">
    {%- if cart.total_price > 0 -%}
    <a href="{{ routes.cart_url }}/checkout" class="button-primary active">{{ 'sections.cart.checkout' | t }}</a>
    {%- endif -%}
    <a href="{{ routes.all_products_collection_url }}" class="button-primary">{{ 'general.continue_shopping' | t }}</a>
  </div>
</cart-total>