<cart-items role="list">
  <form action="{{ routes.cart_url }}" method="POST" id="cart-template__data-form" novalidate>
    <div class="cart-template__data-head">
      <span class="head-image">{{ 'sections.cart.headings.image' | t }}</span>
      <span class="head-info">{{ 'sections.cart.headings.product' | t }}</span>
    </div>
    {%- for item in cart.items -%}
    <cart-item data-var-id="{{ item.variant_id }}" data-product-id="{{ item.product.id }}" data-line-item="{{ forloop.index }}" role="listitem">
      <a class="cart-item__image" href="{{ item.product.url }}">
        {%- if item.image -%}
        {%- assign cart_item_image = item.image | image_url: width: 160 -%}
        <img src="{{ cart_item_image }}" alt="{{ item.product.title | escape }}" width="80" height="80" loading="lazy">
        {%- elsif item.product.featured_image -%}
        {%- assign cart_item_image = item.product.featured_image | image_url: width: 160 -%}
        <img src="{{ cart_item_image }}" alt="{{ item.product.title | escape }}" width="80" height="80" loading="lazy">
        {%- else -%}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" aria-hidden="true" width="80" height="80" style="opacity:.3;padding:1rem">
          <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909M3.75 21h16.5A1.5 1.5 0 0 0 21.75 19.5V4.5A1.5 1.5 0 0 0 20.25 3H3.75A1.5 1.5 0 0 0 2.25 4.5v15A1.5 1.5 0 0 0 3.75 21Z" />
        </svg>
        {%- endif -%}
      </a>
      <div class="cart-item__info">
        <div>
          <a href="{{ item.product.url }}" class="cart-item__title">{{ item.product.title }}</a>
          {%- if item.variant.title != 'Default Title' -%}
          <ul class="cart-item__variants">
            {%- for option in item.product.options -%}
            <li>{{ option }}: {{ item.variant.options[forloop.index0] }}</li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
          <div class="cart-item__price-mobile">
            {%- if item.price == 0 -%}
            <strong class="cart-item__price">{{ 'products.product.price.contact' | t }}</strong>
            {%- else -%}
            <strong class="cart-item__price">{{ item.price | money }}</strong>
            {%- if item.variant.compare_at_price > item.price -%}
            <del class="cart-item__compare-price">{{ item.variant.compare_at_price | money }}</del>
            {%- endif -%}
            {%- endif -%}
          </div>
        </div>
        <div class="cart-item__quantity">
          <label class="sr-only">{{ 'products.product.quantity.label' | t }}</label>
          {%- if item.price > 0 -%}
          {%- render 'quantity-selector', form: "cart-template__data-form", product: item.product, variant: item.variant, value: item.quantity, min: 1, step: 1 -%}
          {%- endif -%}
          <button type="button" data-action="delete-item" title="{{ 'sections.cart.remove_title' | t: title: item.product.title }}" class="cart-item__delete" aria-label="{{ 'sections.cart.remove_title' | t: title: item.product.title }}">{{ 'sections.cart.remove' | t }}</button>
        </div>
      </div>
      <div class="cart-item__actions">
        <span>
          {%- if item.price == 0 -%}
          <strong class="cart-item__price">{{ 'products.product.price.contact' | t }}</strong>
          {%- else -%}
          <strong class="cart-item__price">{{ item.price | money }}</strong>
          {%- if item.variant.compare_at_price > item.price -%}
          <del class="cart-item__compare-price">{{ item.variant.compare_at_price | money }}</del>
          {%- endif -%}
          {%- endif -%}
        </span>
        <button type="button" data-action="delete-item" title="{{ 'sections.cart.remove_title' | t: title: item.product.title }}" class="cart-item__delete" aria-label="{{ 'sections.cart.remove_title' | t: title: item.product.title }}">{{ 'sections.cart.remove' | t }}</button>
      </div>
    </cart-item>
    {%- endfor -%}
  </form>
</cart-items>