<customer-sidebar class="customer-sidebar">
  <div class="customer-sidebar__header">
    <div class="customer-sidebar__avatar">
      <span style="font-size: 2.5rem; line-height: 1;" aria-hidden="true">👋</span>
    </div>
    <h3 class="customer-sidebar__name">
      {{ 'customer.sidebar.greeting' | t }}, <b>{{ customer.last_name }} {{ customer.first_name }}</b>
    </h3>
  </div>
  <nav class="customer-sidebar__nav" aria-label="{{ 'customer.sidebar.nav_label' | t }}">
    <ul class="customer-sidebar__list">
      <li>
        <a href="{{ routes.account_url }}" title="{{ 'customer.sidebar.account_info' | t }}" aria-label="{{ 'customer.sidebar.account_info' | t }}" class="customer-sidebar__link">
          {%- render 'icon', name: 'user' -%}
          <span>{{ 'customer.sidebar.account_info' | t }}</span>
        </a>
      </li>
      <li>
        <a href="{{ routes.account_url }}?view=orders" title="{{ 'customer.orders.title' | t }}" aria-label="{{ 'customer.orders.title' | t }}" class="customer-sidebar__link">
          {%- render 'icon', name: 'order' -%}
          <span>{{ 'customer.orders.title' | t }}</span>
        </a>
      </li>
      <li>
        <a href="{{ routes.account_addresses_url }}" title="{{ 'customer.addresses.title' | t }}" aria-label="{{ 'customer.addresses.title' | t }}" class="customer-sidebar__link">
          {%- render 'icon', name: 'location' -%}
          <span>{{ 'customer.addresses.title' | t }}</span>
        </a>
      </li>
      <li class="customer-sidebar__separator">
        <a href="{{ routes.account_logout_url }}" title="{{ 'customer.log_out' | t }}" aria-label="{{ 'customer.log_out' | t }}" class="customer-sidebar__link customer-sidebar__link--logout">
          {%- render 'icon', name: 'logout' -%}
          <span>{{ 'customer.log_out' | t }}</span>
        </a>
      </li>
    </ul>
  </nav>
</customer-sidebar>