{{- 'newsletter-modal.css' | asset_url | stylesheet_tag -}}
<script src="{{ 'newsletter-modal.js' | asset_url }}" defer="defer"></script>
<newsletter-modal>
  <div id="newsletter-popup" role="dialog" aria-modal="true" aria-labelledby="newsletter-popup-title">
    <div class="newsletter-popup-wrapper">
      {%- if settings.newsletter_modal_image != blank -%}
      <div class="newsletter-popup-banner">
        {%- assign newsletter_alt = settings.newsletter_modal_heading | default: 'Newsletter' | escape -%}
        {{ settings.newsletter_modal_image | image_url: width: 600 | image_tag:
          alt: newsletter_alt,
          width: 900, height: 1400,
          loading: 'lazy', decoding: 'async'
        }}
      </div>
      {%- endif -%}
      <div class="newsletter-popup-content">
        <button type="button" data-action="close-newsletter-popup" class="newsletter-popup-close" aria-label="{{ 'accessibility.close' | t }}">
          {%- render 'icon', name: 'close' -%}
        </button>

        <h2 class="global-heading" id="newsletter-popup-title">{% if settings.newsletter_modal_heading != blank %}{{ settings.newsletter_modal_heading }}{% else %}{{ 'newsletter.button_label' | t }}{% endif %}</h2>
        <p class="global-content">{{ settings.newsletter_modal_description }}</p>
        {%- form 'customer' -%}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <input type="hidden" name="contact[first_name]" value="Subscriber">
        <input type="hidden" name="contact[last_name]" value="">
        <div class="form-group">
          <label>
            <span class="visually-hidden">{{ 'newsletter.label' | t }}</span>
            <input class="form-control" title="{{ 'newsletter.label' | t }}" type="email" placeholder="{% if settings.newsletter_modal_placeholder != blank %}{{ settings.newsletter_modal_placeholder }}{% else %}{{ 'newsletter.label' | t }}{% endif %}" name="contact[email]" required autocomplete="email">
          </label>
        </div>
        <div class="form-group">
          <button class="button-primary" type="submit" title="{{ 'newsletter.button_label' | t }}">{% if settings.newsletter_modal_button != blank %}{{ settings.newsletter_modal_button }}{% else %}{{ 'newsletter.button_label' | t }}{% endif %}</button>
        </div>
        {%- endform -%}
      </div>
    </div>
  </div>
</newsletter-modal>