{%- if settings.product_sticky_addtocart -%}
{%- assign available = product.selected_or_first_available_variant.available -%}
<product-sticky-add class="product-sticky-add">
	<div class="page-width">
		<div class="product-sticky-add__container">
			<div class="product-sticky-add__product" data-sticky-product-info>
				{%- if product.featured_image -%}
				<img src="{{ product.featured_image | image_url: width: 160 }}"
					 srcset="{{ product.featured_image | image_url: width: 160 }} 1x, {{ product.featured_image | image_url: width: 240 }} 2x"
					 alt="{{ product.title | escape }}" width="60" height="60"
					 loading="lazy" decoding="async"
					 class="product-sticky-add__image"
					 data-sticky-image>
				{%- endif -%}
				<div class="product-sticky-add__info">
					<h3 class="product-sticky-add__title">{{ product.title | escape }}</h3>
					<div class="product-sticky-add__variant" data-sticky-variant>
						{{ product.selected_or_first_available_variant.title }}
					</div>
					<div class="product-sticky-add__price" data-sticky-price>
						{%- if product.price == 0 -%}
						<span class="price-contact">{{ 'products.product.price.contact' | t }}</span>
						{%- else -%}
						<span class="price-current">{{ product.price | money }}</span>
						{%- if product.compare_at_price > product.price -%}
						<span class="price-compare">{{ product.compare_at_price | money }}</span>
						{%- endif -%}
						{%- endif -%}
					</div>
				</div>
			</div>
			<div class="product-sticky-add__actions">
				<button {% unless available %}disabled{% endunless %}
						type="button"
						class="button-primary product-sticky-add__btn product-sticky-add__btn--add"
						data-action="sticky-add-to-cart"
						aria-label="{{ 'products.product.add_to_cart' | t }}">
					{%- render 'icon', name: 'cart' -%}
					<span>{{ 'products.product.add_to_cart' | t }}</span>
				</button>
				<button {% unless available %}disabled{% endunless %}
						type="button"
						class="button-primary product-sticky-add__btn product-sticky-add__btn--buy"
						data-action="sticky-buy-now"
						aria-label="{{ 'products.product.buy_now' | t }}">
					{{ 'products.product.buy_now' | t }}
				</button>
			</div>
		</div>
	</div>
</product-sticky-add>
{%- endif -%}