<!-- Breadcrumb -->
{%- assign home_title = 'Trang chủ' -%}
{%- assign list_collections_title = 'Danh mục nhóm sản phẩm' -%}
{%- assign collection_all_text = 'Tất cả sản phẩm' -%}
{%- assign collection_all_url = '/collections/all' -%}
{%- assign blog_all_text = 'Tất cả bài viết' -%}
{%- assign current_tags_text = 'Nhãn liên quan: ' -%}

<div class="section-breadcrumbs">
  <div class="page-width">
    <nav class="breadcrumb-nav" aria-label="Breadcrumbs">
      <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="{{ routes.root_url }}" class="breadcrumb__link" aria-label="{{ home_title }}" title="{{ home_title  }}">
            <span itemprop="name">{{ home_title }}</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        {%- if template contains 'list-collections' %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <span itemprop="name">{{ list_collections_title }}</span>
          <meta itemprop="position" content="2">
        </li>
        {%- elsif template contains 'collection' and collection -%}
        {%- assign collection_title = collection.title -%}
        {%- if collection.handle == 'all' -%}
        {%- assign collection_title = collection_all_text -%}
        {%- endif -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <span itemprop="name">{{ collection_title }}</span>
          <meta itemprop="position" content="2">
        </li>

        {%- for tag in collection.all_tags -%}
        {%- if current_tags contains tag -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <span itemprop="name">{{ current_tags_text }}<strong>{{ current_tags | join: ', ' }}</strong></span>
          <meta itemprop="position" content="3">
        </li>
        {%- break -%}
        {%- endif -%}
        {%- endfor -%}

        {%- elsif template contains 'product' and product -%}
        {%- assign collection_title = collection_all_text -%}
        {%- assign collection_url = collection_all_url -%}
        {%- if product.collections and product.collections[0] -%}
        {%- assign collection_title = product.collections[0].title -%}
        {%- assign collection_url = product.collections[0].url -%}
        {%- endif -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <a class="breadcrumb__link" itemprop="item" href="{{ collection_url }}">
            <span itemprop="name">{{ collection_title }}</span>
          </a>
          <meta itemprop="position" content="2">
        </li>

        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <span itemprop="name">{{ product.title | escape }}</span>
          <meta itemprop="position" content="3">
        </li>

        {%- elsif template contains 'blog' and blog -%}
        {%- assign blog_title = blog.title -%}
        {%- if blog.handle == 'all' -%}
        {%- assign blog_title = blog_all_text -%}
        {%- endif -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <span itemprop="name">{{ blog_title }}</span>
          <meta itemprop="position" content="2">
        </li>

        {%- elsif template contains 'article' and article -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <a itemprop="item" href="/blogs/{{ blog.handle }}" class="breadcrumb__link">
            <span itemprop="name">{{ blog.title }}</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <span itemprop="name">{{ article.title }}</span>
          <meta itemprop="position" content="3">
        </li>

        {%- elsif template contains 'page.wishlist' -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <span itemprop="name">{{ page.title | default: 'Sản phẩm yêu thích' }}</span>
          <meta itemprop="position" content="2">
        </li>
        {%- elsif template contains 'page' and page -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <span itemprop="name">{{ page.title }}</span>
          <meta itemprop="position" content="2">
        </li>

        {%- elsif template contains '404' -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <span itemprop="name">Không tìm thấy trang</span>
          <meta itemprop="position" content="2">
        </li>

        {%- elsif template contains 'cart' -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <span itemprop="name">Giỏ hàng</span>
          <meta itemprop="position" content="2">
        </li>

        {%- elsif template contains "customers" -%}
        {%- if template contains "login" -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <span itemprop="name">Đăng nhập tài khoản</span>
          <meta itemprop="position" content="2">
        </li>
        {%- elsif template contains "register" -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <span itemprop="name">Đăng ký tài khoản</span>
          <meta itemprop="position" content="2">
        </li>
        {%- else -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span class="breadcrumb__separator">/</span>
          <span itemprop="name">Tài khoản của bạn</span>
          <meta itemprop="position" content="2">
        </li>
        {%- endif -%}
        {%- endif -%}
      </ol>
    </nav>
  </div>
</div>