<div class="error-404-template">
  {%- include 'section-breadcrumb' -%}
  <div class="page-width">
    <div class="error-404-template__box">
      <div class="error-404-template__icon">
        {%- include 'icon' with name: '404', class: 'icon-404' -%}
      </div>
      <h1 class="error-404-template__title">{{ settings.page_404_title }}</h1>
      <p class="error-404-template__content">{{ settings.page_404_content }}</p>
      <div class="error-404-template__actions">
        <a class="error-404-template__back" href="/">
          {%- include 'icon' with name: 'arrow', class: 'icon-arrow' -%}
          {{ settings.page_404_back_text }}
        </a>
        <a class="error-404-template__products button-primary active" href="{{ settings.page_404_products_link | default: '/collections/all' }}">
          {{ settings.page_404_products_text }}
          {%- include 'icon' with name: 'cart', class: 'icon-cart' -%}
        </a>
      </div>
    </div>
  </div>
</div>