{%- assign blog_all_text = 'Tất cả bài viết' -%}
<div class="blog-template" itemscope itemtype="https://schema.org/Blog">
	<meta itemprop="name" content="{{ blog.title }}">
	<meta itemprop="description" content="{{ blog.description | strip_html | default: page_title }}">
	<meta itemprop="url" content="{{ blog.url }}">

	{%- include 'section-breadcrumb' -%}
	<div class="page-width">
		{%- assign limit = settings.blog_pagination_limit | default: 6 -%}
		{%- paginate blog.articles by limit -%}
		
		{%- assign show_sidebar = settings.blog_sidebar_enable | default: true -%}
		<div class="blog-template__wrapper {% unless show_sidebar %}blog-template__wrapper--no-sidebar{% endunless %}">
			<div class="blog-template__main">
				<div class="blog-template__title">
					<h1>
						{%- if blog.handle != 'all' -%}
						{{ blog.title }}
						{%- if current_tags -%}
						&raquo; {{ current_tags.first }}
						{%- endif -%}
						{%- else -%}
						{{ blog_all_text }}
						{%- endif -%}
					</h1>
				</div>

				{%- if blog.description != blank -%}
				<div class="blog-template__description">
					<div class="blog-template__description-content">
						{{ blog.description | strip_html | truncatewords: 50 }}
					</div>
				</div>
				{%- endif -%}

				<div class="blog-template__articles-container">
          <h2 class="sr-only">Danh sách bài viết</h2>
					{%- if blog.articles_count > 0 -%}
					<ul class="blog-template__articles">
						{%- for article in blog.articles -%}
						{%- assign lazyload = "lazy" -%}
						{%- assign fetchpriority = "auto" -%}
						{%- if forloop.index <= 3 -%}
							{%- assign lazyload = "eager" -%}
						{%- endif -%}
						{%- if forloop.first -%}
							{%- assign fetchpriority = "high" -%}
						{%- endif -%}
						<li class="blog-template__article">
							{%- include 'article-card' with article, lazyload: lazyload, fetchpriority: fetchpriority, show_vendor: true -%}
						</li>
						{%- endfor -%}
					</ul>
					<div class="blog-template__pagination">
						{%- include 'section-pagination' -%}
					</div>
					{%- else -%}
					<p>Chưa có bài viết nào thuộc danh mục này.</p>
					{%- endif -%}
				</div>

				{%- if blog.description != blank -%}
				<div class="blog-template__full-description">
					<div class="blog-template__full-description-content">
						{{ blog.description }}
					</div>
				</div>
				{%- endif -%}
			</div>
			
			{%- if show_sidebar -%}
			<aside class="blog-template__sidebar">
				{%- include 'blog-sidebar' -%}
			</aside>
			{%- endif -%}
		</div>
		
		{%- endpaginate -%}
	</div>
</div>