
<div class="change-password-template">
    <div class="page-width">
    <h1 class="change-password-template__title">{{ 'customer.reset_password.title' | t }}</h1>
    <div class="account-template__grid">
      <div class="change-password-template__sidebar">
        {%- render 'customer-sidebar' -%}
      </div>
      <div class="change-password-template__wrapper">
        <div class="change-password-template__form">
          {%- form 'reset_customer_password' -%}
          {%- if form.errors -%}
          <div class="form-error" role="alert">{{ form.errors | default_errors }}</div>
          {%- endif -%}
          {%- if form.posted_successfully? -%}
          <div class="form-success">
            <p class="form-success__text">{{ 'customer.reset_password.success' | t }}</p>
          </div>
          {%- else -%}
          <div class="form-info">
            <p>{{ 'customer.reset_password.subtext' | t }}</p>
          </div>
          {%- endif -%}
          <change-password-form class="form form-change-password">
            <toggle-password class="form-group">
              <label for="new-password" class="label-password">
                <span class="required">{{ 'customer.reset_password.password' | t }}</span>
                <div class="form-group-input">
                  {%- render 'icon', name: 'password' -%}
                  <input type="password" id="new-password" class="form-control" name="customer[password]" required minlength="8" placeholder="{{ 'customer.reset_password.password_placeholder' | t }}">
                  {%- render 'icon', name: 'eye-show', class: 'icon-eye-show right' -%}
                  {%- render 'icon', name: 'eye-hide', class: 'icon-eye-hide right', style: 'display:none;' -%}
                </div>
              </label>
            </toggle-password>
            <toggle-password class="form-group">
              <label for="confirm-password" class="label-password">
                <span class="required">{{ 'customer.reset_password.password_confirm' | t }}</span>
                <div class="form-group-input">
                  {%- render 'icon', name: 'password' -%}
                  <input type="password" id="confirm-password" class="form-control" name="customer[password_confirmation]" required minlength="8" placeholder="{{ 'customer.reset_password.password_confirm_placeholder' | t }}">
                  {%- render 'icon', name: 'eye-show', class: 'icon-eye-show right' -%}
                  {%- render 'icon', name: 'eye-hide', class: 'icon-eye-hide right', style: 'display:none;' -%}
                </div>
              </label>
            </toggle-password>
            <div class="form-group">
              <button type="submit" class="button-primary active form-submit" title="{{ 'customer.reset_password.submit' | t }}">{{ 'customer.reset_password.submit' | t }}</button>
            </div>
            <div class="form-group form-group--text-center">
              <a class="link" href="{{ routes.account_url }}" title="{{ 'customer.reset_password.back_to_account' | t }}">{{ 'customer.reset_password.back_to_account' | t }}</a>
            </div>
          </change-password-form>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_customers_reset.name",
  "tag": "section",
  "class": "section-main-customers-reset"
}
{% endschema %}