
<div class="login-template">
    <div class="page-width">
    <h1 class="login-template__title">{{ 'customer.login_page.title' | t }}</h1>
    <div class="login-template__wrapper">
      <auth-form class="login-template__form login-layout">
        <div class="form form-login" id="form-login">
          {%- form 'customer_login' -%}
          <div class="form-error">
            {%- for error in form.errors -%}{{ form.errors.messages[error] }}<br />{%- endfor -%}
          </div>
          <div class="form-group">
            <label for="login-email">
              <span class="required">{{ 'customer.login_page.email' | t }}</span>
              <div class="form-group-input">
                {%- render 'icon', name: 'email' -%}
                <input type="email" id="login-email" class="form-control" name="customer[email]" required placeholder="{{ 'customer.login_page.email_placeholder' | t }}">
              </div>
            </label>
          </div>
          <toggle-password class="form-group">
            <label for="login-password" class="label-password">
              <span class="required">{{ 'customer.login_page.password' | t }}</span>
              <a href="#recover" data-layout="recover-layout" class="auth-layout-trigger" title="{{ 'customer.login_page.forgot_password' | t }}">{{ 'customer.login_page.forgot_password' | t }}?</a>
              <div class="form-group-input">
                {%- render 'icon', name: 'password' -%}
                <input type="password" id="login-password" class="form-control" name="customer[password]" required placeholder="{{ 'customer.login_page.password_placeholder' | t }}">
                {%- render 'icon', name: 'eye-show', class: 'icon-eye-show right' -%}
                {%- render 'icon', name: 'eye-hide', class: 'icon-eye-hide right', style: 'display:none;' -%}
              </div>
            </label>
          </toggle-password>
          <div class="form-group">
            <button type="submit" class="button-primary active form-submit" title="{{ 'customer.login_page.sign_in' | t }}">{{ 'customer.login_page.sign_in' | t }}</button>
          </div>
          <div class="form-group form-group--text-center">
            <span class="form-text">{{ 'customer.login_page.no_account' | t }} </span><a class="link" href="{{ routes.account_register_url }}" title="{{ 'customer.login_page.create_account' | t }}">{{ 'customer.login_page.create_account' | t }}</a>
          </div>
          {%- endform -%}
        </div>
        <div class="form form-recover" id="form-recover">
          {%- form 'recover_customer_password' -%}
          {%- if form.errors -%}
          <div class="form-error" role="alert">{{ form.errors | default_errors }}</div>
          {%- endif -%}
          <div class="form-group">
            <label for="recover-email">
              <span class="required">{{ 'customer.login_page.email' | t }}</span>
              <div class="form-group-input">
                {%- render 'icon', name: 'email' -%}
                <input type="email" id="recover-email" class="form-control" name="email" required placeholder="{{ 'customer.login_page.email_placeholder' | t }}">
              </div>
            </label>
          </div>
          <div class="form-group">
            <button type="submit" class="button-primary active form-submit" title="{{ 'customer.login_page.submit' | t }}">{{ 'customer.login_page.submit' | t }}</button>
          </div>
          <div class="form-group form-group--text-center">
            <span class="form-text">{{ 'customer.login_page.has_account' | t }} </span><a class="link auth-layout-trigger" href="#login" data-layout="login-layout" title="{{ 'customer.login_page.sign_in' | t }}">{{ 'customer.login_page.sign_in' | t }}</a>
          </div>
          {%- endform -%}
        </div>
      </auth-form>
      <div class="login-template__content">
        <div class="login-template__quote-icon">{%- render 'icon', name: 'quote-open' -%}</div>
        <div class="login-template__quote-text">
          <p>{{ 'customer.login_page.quote' | t }}</p>
        </div>
        <div class="login-template__quote-icon login-template__quote-icon--right">{%- render 'icon', name: 'quote-close' -%}</div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_customers_login.name",
  "tag": "section",
  "class": "section-main-customers-login"
}
{% endschema %}