<div class="list-collections-template" style="--list-collections-ratio: {{ settings.list_collections_image_ratio }};">
  {%- include 'section-breadcrumb' -%}
  <div class="page-width">
    <h1 class="list-collections-template__title">{{ settings.list_collections_title }}</h1>
    {%- paginate collections by settings.list_collections_per_page -%}
    <div class="list-collections-template-items">
      {%- for collection in collections -%}
      {%- assign lazyload = "lazy" -%}
      {%- if forloop.index <= 2 -%}
      {%- assign lazyload = "eager" -%}
      {%- endif -%}
      <div class="list-collections-template-item">
        <a href="{{ collection.url }}" title="{{ collection.title | escape }}" class="list-collections-template-item-link">
          <div class="list-collections-template-item-image">
            {%- if collection.image -%}
            <img src="{{ collection.image | img_url: '2048x2048' }}" alt="{{ collection.title | escape }}" width="{{ collection.image.width }}" height="{{ collection.image.height }}" srcset="{{ collection.image | img_url: '1024x1024' }} 768w, {{ collection.image | img_url: 'master' }} 1024w" sizes="(min-width: 768px) 480px, 320px" loading="{{ lazyload }}" decoding="async">
            {%- else -%}
            <img src="{{ 'no_image_product.jpg' | asset_url }}" alt="{{ collection.title | escape }}" width="480" height="480" loading="{{ lazyload }}" decoding="async">
            {%- endif -%}
          </div>
          <h3 class="list-collections-template-item-title">{{ collection.title }}</h3>
          <p class="list-collections-template-item-count">
            {%- if collection.products_count == 0 -%}
            {{ settings.list_collections_updating_text }}
            {%- elsif collection.products_count == 1 -%}
            {{ collection.products_count }} sản phẩm
            {%- elsif collection.products_count > 1 and collection.products_count < 1000 -%}
            {{ collection.products_count }} sản phẩm
            {%- elsif collection.products_count >= 1000 -%}
            {{ collection.products_count | divided_by: 1000 }}K sản phẩm
            {%- endif -%}
          </p>
        </a>
      </div>
      {%- endfor -%}
    </div>
    <div class="list-collections-template-pagination">
      {%- include 'section-pagination' -%}
    </div>
    {%- endpaginate -%}
  </div>
</div>